<div class="catalog-wrapper">
  
  <div class="catalog-header" *ngIf="!isHome">
    <h1 class="glow-text">Explora el Catálogo</h1>
    <p class="subtitle">Descubre tu próxima aventura inmersiva.</p>
  </div>

  <div class="home-grid-header" *ngIf="isHome">
    <h2>Títulos destacados para tu próxima aventura</h2>
  </div>

  <!-- Loading State (Skeleton) -->
  <div class="grid-container" *ngIf="isLoading && !errorMsg">
    <div class="glass-panel book-card skeleton-card" *ngFor="let i of [1,2,3,4,5,6]">
      <div class="skeleton-img"></div>
      <div class="skeleton-text title"></div>
      <div class="skeleton-text description"></div>
      <div class="skeleton-button"></div>
    </div>
  </div>

  <!-- Error State -->
  <div class="message-banner error" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>

  <!-- Empty State -->
  <div class="message-banner info" *ngIf="!isLoading && books.length === 0 && !errorMsg">
    Aún no hay libros publicados en el catálogo. Vuelve pronto.
  </div>

  <!-- Grid Principal de Tarjetas -->
  <div class="grid-container" *ngIf="!isLoading && books.length > 0">
    
    <div class="glass-panel book-card" *ngFor="let book of books">
      
      <!-- Se asume imagen default si Django retorna null en la cubierta -->
      <div class="card-image" 
           [style.backgroundImage]="'url(' + (book.cover_image || 'assets/default_cover.jpg') + ')'">
        <div class="featured-badge" *ngIf="book.is_featured">★ Destacado</div>
      </div>
      
      <div class="card-content">
        <h3 class="book-title">{{ book.title }}</h3>
        
        <!-- Synopsis recortada a 120 chars -->
        <p class="book-synopsis">
          {{ (book.synopsis && book.synopsis.length > 100) ? (book.synopsis | slice:0:100) + '...' : book.synopsis }}
        </p>
        
        <div class="card-actions">
          <a class="glass-btn read-btn" [routerLink]="['/book', book.slug]">
            <span>Ver Detalles</span>
            <svg xmlns="http://www.w3.org/Dom/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>
        </div>
      </div>
    
    </div>

  </div>

</div>
